@import "tailwindcss";

.fade-in-up {
	animation: fade-in-up 1s ease;
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(-16px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.rgb {
	animation: rgb 60s linear infinite;
}

@keyframes rgb {
	0% {
		color: theme("colors.blue.400");
	}
	33% {
		color: theme("colors.green.400");
	}
	66% {
		color: theme("colors.rose.400");
	}
	100% {
		color: theme("colors.blue.400");
	}
}
